@charset "UTF-8";

// ---- Color
$white: #ffffff;
$black: #000000;
$en-mission-color: #C12D18;
$button-color-light: #C13216;

// - Font
$text-color-dark: #e0e0e0;
$text-color-light: #222222;

// - backgrouds
$bg-login-color1: #33383d;
$bg-login-color2: #1c1d20;

// ---- Font Family
$primary-font-family: "Poppins", sans-serif;
$secondary-font-family: "Nunito", sans-serif;

// ---- Font Sizes
$core-font-size: 1.6rem;
